* {
    margin: 0;
    padding: 0;
}

/* 
nav {
    
    z-index: -1px;
    position: fixed;
    top: 0;
    width: 100%;
} */

img {
    height: 60px;
    width: auto;
    font-size: 10px;
}

.navubar {
    background-color: rgb(77, 166, 166);
    /* z-index: 1px; */
    /* position: static; */
}

.navbtn {
    font-size: 50px;
    border: 2px black solid;
}

Button {
    background-color: rgb(172, 127, 255)
}